*{
    margin:0;
    padding:0;
    font-family:sans-serif;
    scroll-behavior: smooth;
}

@media screen and (min-width: 100px) and (max-width: 550px){
       html{
              scroll-behavior: smooth;
              transition: 2s;
       }
       .menu-navegacion{
        display: flex;
        justify-content: space-between;
        background-color: black;
        color: white;
        padding:10px 5px;
 }
  
   
    .marca{
        font-size: 35px;
        font-family: monospace;
        user-select: none;
   }
   .marca::first-letter{
       color: rgb(0, 132, 255);
   }
   .caja-navegacion{
        font-size: 20px;
        cursor: pointer;
        padding:10px 10px;
   }
   
   .menu-escondido{
        transform: translateX(-150%);
        background-color: rgb(0, 0, 0);
        width:120px;
        list-style: none;
        text-decoration: none;
        padding:0px 10px ;
   }
  
   .aparecer-menu{
        transform: translateX(0%);
        background-color: rgb(0, 0, 0);
        width:120px;
        list-style: none;
        text-decoration: none;
        padding:0px 10px ;  
   }
   .cerrar-menu{
        display:flex;
        margin: 10px 90px;
        padding:10px 10px;
        outline: none;
        background-color: black;
        border: none;
        color: white;
        font-size:20px;
   }
   .enlaces-adentro{
        text-decoration: none;
        color: white;
        font-size: 18px;
        transition:200ms;
   }
   .enlaces-adentro:hover{
          color: rgb(0, 132, 255);
   }
   
   .redes-sociales{
        color: white;
        font-size:20px;
        transition: 200ms;
        text-decoration: none;
        list-style: none;
        font-family: sans-serif;
   }
   .redes-sociales:hover{
          color:rgb(0, 132, 255);
   }
   .imagen-inicio{
        background: #b92c27bb;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #1565c0be, #b92c279f),url(ciclista.png); 
        background: linear-gradient(to right, #1565c0be, #b92c279f),url(ciclista.png); 
        width: 100%;
        height: 490px;
        background-attachment: fixed;
        background-size: cover;
        position: relative;
        background-position:center center;
}
.ola-inicio{
       position: relative;
       width:100%;
       height:20%;
       bottom: 0%;
       padding: 0px 0px;
        
}
   .caja-mensaje-bienvenida{
       background-color: #ffffff;
        padding: 30px ;
   }
   .mensaje-bienvenida{
        background-color: rgba(230, 210, 210, 0.54);
        border: 5px inset black;
        padding:10px 20px;
        text-align:center;
        font-size: 18px;
        letter-spacing: 1px;
        width: 80%;
        display: flex;
        margin: auto;
        justify-content: center;
        font-size: 20px;
   }
   .subir{
          background-color: rgba(211, 17, 17, 0.639);
          width: 50px;
          height: 50px;
          display: none;
          justify-content: center;
          align-items: center;
          font-size: 30px;
          position: fixed;
          bottom: 20px;       
          cursor: pointer;  
          right: 0px; 
          transition: 2s ;
          border:2px solid black;
   }
  
   .footer{
          background-color: rgb(0, 0, 0);
          color: white;
          padding:20px 5px;
          font-family: monospace;
     }
   .registro{
          padding: 5px 0px;
          text-align: center;
          margin: auto;
          font-size:28px;
          justify-content: center;
          color: rgb(255, 255, 255);
   }
   .registro-parrafo{
          padding: 20px 25px;
          font-size: 22px;
          text-align: center;
          color: rgb(255, 255, 255);
          display: flex;
          width: 80%;
          margin: 20px auto;
          border-top:5px solid rgb(216, 94, 94);
   }
   .caja-email{
          background-color: rgba(0, 0, 0, 0.536);
          padding: 20px 25px;
          display: flex;
          justify-content: center;
          margin:20px auto;
          gap:2px;
          width:80%;
   }
   .correo-electronico{
          border:none;
          outline:none;
          background-color: rgb(255, 255, 255);
          padding: 10px 5px;
          text-align: center;
          font-size: 18px;
          width:60%;
          color: rgb(0, 0, 0);
  }
  .correo-electronico::placeholder{
         color:rgb(0, 0, 0);
         font-size: 22px;
  }
  
  .enviar-registro{
          border:none;
          background-color: rgb(255, 255, 255);
          padding: 10px 5px;
          text-align: center;
          font-size: 18px;
          color: rgb(0, 0, 0);
          width:20%;
          transition: 1s;
  }
  .enviar-registro:hover{
         background-color:rgb(2, 138, 138);
         color: black;
  }
  .menu-filtros{
         background-color: #445883;
         display: flex;
         justify-content: space-between;
         padding: 10px 20px;
         font-size: 22px;
         border-bottom:5px solid black;
  }
  .poner-filtros{
       cursor:pointer;
  }
  .quitar-filtros{
        cursor: pointer;
        transform: translateX(0%);
        opacity:0;
  }
  
  .filtros-productos{
         background-color: #445883;
         width: 30%;
         text-align: left;
         font-size: 20px;
         letter-spacing: 2px;
         padding: 10px ;
         height: 30%;
         list-style: none;
         position: absolute;
         z-index: 2;
         transform: translateX(-100%);
         cursor: pointer;
         transition:500ms;
         left: -10px;
  }
  .aparecer-productos{
         background-color: #445883;
         width: 30%;
         text-align: left;
         font-size: 20px;
         letter-spacing: 2px;
         padding: 10px;
         height: 30%;
         list-style: none;
         position: absolute;
         z-index: 2;
         transform: translateX(5%);
         cursor: pointer;
         transition:500ms;
  }
 .cajas-catalogo{
       /* Created with https://www.css-gradient.com */
       background: #445883;
       background: -webkit-linear-gradient(top, #445883, #833333);
       background: -moz-linear-gradient(top, #445883, #833333);
       background: linear-gradient(to bottom, #445883, #833333);
 }
 .titulo-bicicletas{
        display: flex;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.603);
        box-shadow:5px 5px 5px   rgb(0, 0, 0);
        width:45%;
        height:50px;
        justify-content: center;
 }
       
 .caja-adulto{
        display: flex;
        flex-wrap:wrap;
        gap:20px;
        justify-content: center;
        padding: 30px 0px;
  }
  .caja-niños{
        display: flex;
        flex-wrap:wrap;
        gap:20px;
        justify-content: center;
        padding: 30px 0px;
  }
  .caja-accesorios{
        display: flex;
        flex-wrap:wrap;
        gap:20px;
        justify-content: center;
        padding: 30px 0px;  
  }
  .caja-productos-descuentos{
       background-color: #dadada;
       background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23232027' fill-opacity='0.82'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");  }
  .productos{
        backdrop-filter: blur(0px) saturate(153%);
        -webkit-backdrop-filter: blur(0px) saturate(153%);
        background-color: rgba(255, 255, 255, 0.472);
        border: 1px solid rgba(209, 213, 219, 0.733);
        padding:40px 20px;
        height: 400px;
        border: 5px solid black;
}
  .imagen-productos{
        width:350px;
        height:250px;
        border:5px solid black;
}
   .productos-accesorios{
        height: 400px;
        backdrop-filter: blur(0px) saturate(153%);
        -webkit-backdrop-filter: blur(0px) saturate(153%);
        background-color: rgba(255, 255, 255, 0.472);
        border: 1px solid rgba(209, 213, 219, 0.733);
        padding:40px 20px;
        border: 5px solid black;
 }
.imagen-productos-editar{
        width:350px;
        height: 250px;
        border: 5px solid black;
}
.titulo-descuentos{
       display: flex;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.603);
        box-shadow:5px 5px 5px   rgb(0, 0, 0);
        width:45%;
        height:50px;
        justify-content: center;
}
  .caja-descuentos{
        display: flex;
        flex-wrap:wrap;
        gap:20px;
        justify-content: center;
        padding: 30px 0px;  
  }
  .ir-tienda{
       text-decoration: none;
       display: flex;
       margin: auto;
       justify-content: center;
       width: 50%;
       padding: 10px 5px;
       color: white;
       font-size: 24px;
       background-color: black;
       transition:1s;
  }
  .ir-tienda:hover{
       text-decoration: none;
       display: flex;
       margin: auto;
       justify-content: center;
       width: 50%;
       padding: 10px 5px;
       color: rgb(0, 0, 0);
       font-size: 24px;
       background-color: rgb(255, 247, 247);
       transition:1s;
  }
  .descuentos{
        backdrop-filter: blur(0px) saturate(153%);
        -webkit-backdrop-filter: blur(0px) saturate(153%);
        background-color: rgba(255, 255, 255, 0.472);
        border: 1px solid rgba(209, 213, 219, 0.733);
        padding:40px 20px;
        height: 450px;
        border: 5px solid black;
        font-weight: 500;
        
  }
  .descuentos-inicio{
        backdrop-filter: blur(0px) saturate(153%);
        -webkit-backdrop-filter: blur(0px) saturate(153%);
        background-color: rgba(255, 255, 255, 0.486);
        padding:40px 20px;
        height: 450px;
        border: 5px solid black;
        font-weight: 500;  }
  .imagen-descuentos{
        width:350px;
        height:250px;
        border:5px solid black;
  }
  
  .descuento{
        padding: 10px 0px 0px 0px;
        display: flex;
        margin: auto;
        font-size: 26px;
        justify-content: center;
        font-family: monospace;
  }
  .de-cuanto{
         display: flex;
         justify-content: center;
         text-align: center;
         margin: auto;
         width:50%;
         padding: 10px;
         font-size: 25px;
         outline: 2px solid black;
         font-family: monospace;
         background-color:rgba(184, 181, 181, 0.657);
       }
  .precio{
         display: flex;
         justify-content: center;
         margin: 10px auto;
         width: 25%;
         font-family: monospace;
         outline: 2px solid rgb(0, 0, 0);
         padding: 10px;
         font-size: 22px;
  }
  .agregar-carrito{
         display: flex;
         width: 75%;
         margin: 20px auto;
         justify-content: center;
         border: none;
         outline: none;
         padding:15px;
         box-shadow:5px 5px 9px  black;
         border-radius:2px;
         font-size: 24px;
         transition: 500ms;
         font-weight: 500;
         font-family: monospace;
  }
  
}

@media screen and (min-width: 551px) and (max-width: 850px){
       .menu-navegacion{
              display: flex;
              justify-content: space-between;
              background-color: black;
              color: white;
              padding:10px 5px;
       }
        
         
          .marca{
              font-size: 30px;
              user-select: none;
         }
         .marca::first-letter{
             color: rgb(0, 69, 134);
         }
         .caja-navegacion{
              font-size: 20px;
              cursor: pointer;
              padding:10px 10px;
         }
         
         .menu-escondido{
              transform: translateX(-150%);
              background-color: rgb(0, 0, 0);
              width:120px;
              list-style: none;
              text-decoration: none;
              padding:0px 10px ;
         }
        
         .aparecer-menu{
              transform: translateX(0%);
              background-color: rgb(0, 0, 0);
              width:120px;
              list-style: none;
              text-decoration: none;
              padding:0px 10px ;  
         }
         .cerrar-menu{
              display:flex;
              margin: 10px 90px;
              padding:10px 10px;
              outline: none;
              background-color: black;
              border: none;
              color: white;
              font-size:20px;
         }
         .enlaces-adentro{
              text-decoration: none;
              color: white;
              font-size: 18px;
              transition:200ms;
         }
         .enlaces-adentro:hover{
                color: rgb(0, 132, 255);
         }
         
         .redes-sociales{
              color: white;
              font-size:20px;
              transition: 200ms;
              text-decoration: none;
              list-style: none;
              font-family: sans-serif;
         }
         .redes-sociales:hover{
                color:rgb(0, 132, 255);
         }
         .imagen-inicio{
              background: #690f0cbb;  /* fallback for old browsers */
              background: -webkit-linear-gradient(to right, #154174be, #b9160e9f),url(ciclista.png); 
              background: linear-gradient(to right, #0d427ebe, #c04f0d9f),url(ciclista.png); 
              width: 100%;
              height: 550px;
              background-attachment: fixed;
              background-size: cover;
              position: relative;
              background-position:left center;
      }
      .wabe{
              position: relative;
              top:74px;

}
  .caja-mensaje-bienvenida{
              background-color: #ffffff;
              padding: 40px 10px;
  }
  .mensaje-bienvenida{
              background-color: rgba(253, 253, 253, 0.233);
              border: 5px solid black;
              padding:10px 20px;
              text-align:center;
              letter-spacing: 1px;
              width: 80%;
              display: flex;
              margin: auto;
              justify-content: center;
              border-radius: 10px;
              font-size: 20px;
       }
       .subir{
              background-color: gold;
              width: 50px;
              height: 50px;
              display: none;
              justify-content: center;
              align-items: center;
              font-size: 30px;
              position: fixed;
              bottom: 20px;       
              cursor: pointer;  
              right: 0px; 
              border-radius: 5px;
  }
 
  .footer{
              background-color: rgb(0, 0, 0);
              color: white;
              padding:10px 5px;
    }
  .registro{
              padding: 5px 0px;
              text-align: center;
              display: flex;
              margin: auto;
              justify-content: center;
              color: rgb(0, 0, 0);
              width: 40%;
              background-color: rgba(255, 255, 255, 0.794);
              font-size: 34px;       
       }
  .registro-parrafo{
              padding: 20px 25px;
              font-size: 24px;
              letter-spacing: 1px;
              text-align: center;
              color: black;
              display: flex;
              width: 80%;
              margin: 20px auto;
              background-color: white;
  }
  .caja-email{
         background-color: rgb(107, 116, 126);
         padding: 20px;
         display: flex;
         justify-content: center;
         margin: auto;
         gap:2px;
         width:85%;
  }
  .correo-electronico{
         border:none;
         outline:none;
         background-color: black;
         padding: 10px 5px;
         text-align: center;
         font-size: 18px;
         border-bottom:5px solid rgb(2, 138, 138);
         width:60%;
         color: white;
 }
 .correo-electronico::placeholder{
        color:white;
        font-size: 22px;
 }
 .correo-electronico:focus{
        background-color: rgb(0, 0, 0);
        color: teal;
 }
 .enviar-registro{
         border:none;
         background-color: black;
         padding: 10px 5px;
         text-align: center;
         font-size: 18px;
         color: white;
         border-bottom:5px solid rgb(2, 138, 138);
         width:20%;
         transition: 1s;
 }
 .enviar-registro:hover{
        background-color:rgb(2, 138, 138);
        color: black;
 }
 .menu-filtros{
       background-color: rgb(0, 132, 255);
       display: flex;
       justify-content: space-between;
       padding: 10px 20px;
       font-size: 22px;
}
.poner-filtros{
     cursor:pointer;
}
.quitar-filtros{
      cursor: pointer;
      transform: translateX(0%);
      opacity:0;
}

.filtros-productos{
       background-color: rgb(0, 132, 255);
       width: 30%;
       text-align: left;
       font-size: 20px;
       letter-spacing: 2px;
       padding: 10px ;
       height: 30%;
       list-style: none;
       position: absolute;
       z-index: 2;
       transform: translateX(-100%);
       cursor: pointer;
       transition:500ms;
       left: -10px;
}
.aparecer-productos{
       background-color: rgb(0, 132, 255);
       width: 30%;
       text-align: left;
       font-size: 20px;
       letter-spacing: 2px;
       padding: 10px;
       height: 30%;
       list-style: none;
       position: absolute;
       z-index: 2;
       transform: translateX(5%);
       cursor: pointer;
       transition:500ms;
}
.cajas-catalogo{
      background: rgb(131,58,180);
      background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 57%, rgba(252,176,69,1) 100%);
}.titulo-bicicletas{
      display: flex;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.603);
      box-shadow:2px 2px 5px 2px  black;
      width:45%;
      height:50px;
      justify-content: center;
}
     
.caja-adulto{
      /* aqui me quede buscando informacion para poder hacerlo con grid */
      gap:20px;
      justify-content: center;
      padding: 30px 0px;
}
.caja-niños{
      display: flex;
      flex-wrap:wrap;
      gap:20px;
      justify-content: center;
      padding: 30px 0px;
}
.caja-accesorios{
      display: flex;
      flex-wrap:wrap;
      gap:20px;
      justify-content: center;
      padding: 30px 0px;  
}
.imagen-productos{
       width: 100px;
}
}
